.main-container{
    height: 100vh;
    width: 100%;
    @include flex(column, top, center);
    padding-top: 130px;
    background-color: #fff;


    .ir-al-carrito{
        padding: 10px;
        border-radius: 10px;
        margin-top: 50px;
        border: 1px solid $colorSecundario-400;
        
        a{
            text-decoration: none;
            color: $colorSecundario-400;
        }
        &:hover{
            background-color: $colorSecundario-400;
            a{
                color: #fff;
            }
        }     

        
    }

    .crear-pedido-img{
        height: 450px;
        width:100% ;
        background:linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5) ), url(../assets/pexels-jason-villanueva-851555.jpg) no-repeat right center ;
        border-radius: 10px;
        

        @include tablet{
            max-width: 1200px;
        }
        @include flex(column,center,center);
        @media screen and (min-width:700px) {
            @include flex(column,center,flex-start);
        }
        
        .img-items{
            @include flex(column,center,center);
            width: 100%;
            @media screen and (min-width:700px) {
                @include flex(column,center,center);
                width: 50%;
            }
            .h3{
                color: $colorPrincipal-50;
                font-size: 55px;
                padding-top: 150px;
                position: relative;
                bottom: 50px;
            }
            p{
                color: $colorPrincipal-50;
                margin-top: 40px;
                margin-bottom: 50px;
                text-align: center;
                position: relative;
                bottom: 70px;
                @include tablet{
                    margin-left: 30px;
                }
            }
            .crear-pedido-button{
                background-color:transparent;
                        font-family: $fuentePrincipal;
                        font-size: 17px;
        
                        @include padding (15px,16px,40px,40px);
                        border: 2px solid $colorPrincipal-50;
                        border-radius: 6px;
                        color: #eee;
                        margin-top: 20px;
                        align-self: center;
                        cursor: pointer;
        
                        &:hover{
                            border-color: $colorSecundario-400;
                            color: $colorSecundario-400;
                            font-weight: bold;
                        }
            }
        }
        
        
    }

    .comoFunciona{
        height: auto;
        width: 90%;
        background-color: $colorPrincipal-50;
        border-radius: 15px;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        border-bottom: 5px solid #fff;
        margin-bottom: 30px;
        

        @include tablet {
            grid-template-columns: 1fr 1fr;
        }
        @include desktop{
            grid-template-columns: repeat(3,1fr);
            max-width: 1200px;
            padding: 50px;
        }
        

        .paso{
            @include flex(column,center,center);
            color: #2b323a;
            padding: 10px;
            text-align: center;

            h4{
                font-size: 25px;
                margin-top: 10px;
            }
            p{
                padding: 15px;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .numeroDePaso{
                font-size:50px; color:#ca663b;font-weight: bold;
            }
        }
    }

    .pedido{
        .pasosEnOpciones{display: none;}

        .opciones{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            .opcionTipoDeCafe{
                text-align: left;
            }

            .opcion{
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;

                .eleccion{
                    height: 270px;
                    width: 250px;
                    background-color: $colorPrincipal-50;
                    border-radius: 10px;
                    margin: auto;
                    cursor: pointer;

                    h4{
                        padding-top: 30px;
                        padding-left: 30px;
                        font-size: 23px;
                        font-weight: bolder;
                    }
                    p{
                        padding-left: 30px;
                        margin-right: 25px;
                        margin-top: 20px;
                        opacity: .9;
                    }
                }
                
                
            }
            
            
        }
    }
}