
.body-inicio{
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .8) ), url(../.././assets/fondo.jpg) center center no-repeat fixed ;
    background-size: cover;

    .main-inicio{
        height: 100vh;
        @include flex(column, center, center);
        

        .main__text-button-container{
            align-self: center;
            @include flex(column, center, center);

            .main__title{
                color: $colorPrincipal-50;
                font-size: 50px;
                font-family: $fuenteTitulos;
                align-self: center;
                margin-top: 30px;
                white-space: nowrap;
                font-weight: 700;

                @include min-mobile{
                    font-size: 60px;
                }

                @include max-mobile{
                    font-size: 72px;
                }
            }

            .main__texto-principal{
                color: #ccc;
                font-size: 12px;
                text-align: center;
                padding-top: 20px;
                margin-right: 15px;
                margin-left: 15px;

                @include min-mobile{
                    font-size: 14px;
                }

                @include max-mobile{
                    font-size: 17px;
                }
            }
    
            .main__button{
                background-color:transparent;
                font-family: $fuentePrincipal;
                font-size: 20px;

                @include padding (15px,15px,40px,40px);
                border: 2px solid $colorTerciario-600;
                border-radius: 15px;
                color: $colorPrincipal-50;
                margin-top: 50px;
                align-self: center;
                cursor: pointer;

                &:hover{
                    background-color: #795548;
                }
                
            }

        }
        
        
    }
}