
//PALETA DE COLORES

$colorPrincipal-50:#EFEBE9;
$colorSecundario-440:#795548;



// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Varela+Round&display=swap');

$fuentePrincipal:'Varela Round', sans-serif;