@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Montserrat:wght@200&family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 1s;
}

.body-no-index .header .navbar-no-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .navbar {
  height: 70px;
  width: auto;
}
@media screen and (min-width: 992px) {
  .header .navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 500px) {
  .header .navbar .container-fluid {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 600px) {
  .header .navbar .container-fluid {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (min-width: 992px) {
  .header .navbar .container-fluid {
    margin-right: 8%;
  }
}
.header .navbar .container-fluid .navbar-brand {
  color: #eee;
  font-weight: 700;
  font-family: "Fuzzy Bubbles", cursive;
}
@media screen and (min-width: 992px) {
  .header .navbar .container-fluid .navbar-brand img {
    margin-top: 15px;
    margin-left: 100px;
  }
}
.header .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  margin-top: 10px;
  font-family: "Varela Round", sans-serif;
  font-size: 17px;
  color: #eee;
  margin-right: 15px;
}
@media screen and (min-width: 992px) {
  .header .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
    color: #444;
  }
}

.body-inicio {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(.././assets/fondo1.jpg) center no-repeat fixed;
  background-size: cover;
}
@media screen and (min-width: 992px) {
  .body-inicio {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(.././assets/fondo1.jpg) center center no-repeat fixed;
    background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.body-inicio .main-inicio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .body-inicio .main-inicio .main__text-button-container {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 3%;
    max-width: 45%;
  }
}
.body-inicio .main-inicio .main__text-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-inicio .main-inicio .main__text-button-container .main__title {
  color: #EFEBE9;
  font-size: 50px;
  font-family: "Fuzzy Bubbles", cursive;
  align-self: center;
  white-space: nowrap;
  margin-top: 30px;
  font-weight: 700;
}
@media screen and (min-width: 400px) {
  .body-inicio .main-inicio .main__text-button-container .main__title {
    font-size: 60px;
  }
}
@media screen and (min-width: 500px) {
  .body-inicio .main-inicio .main__text-button-container .main__title {
    font-size: 65px;
  }
}
@media screen and (min-width: 992px) {
  .body-inicio .main-inicio .main__text-button-container .main__title {
    font-size: 75px;
  }
}
.body-inicio .main-inicio .main__text-button-container .main__texto-principal {
  color: #ccc;
  font-size: 12px;
  padding-top: 20px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: "Varela Round", sans-serif;
}
@media screen and (min-width: 400px) {
  .body-inicio .main-inicio .main__text-button-container .main__texto-principal {
    font-size: 14px;
  }
}
@media screen and (min-width: 500px) {
  .body-inicio .main-inicio .main__text-button-container .main__texto-principal {
    font-size: 17px;
  }
}
.body-inicio .main-inicio .main__text-button-container .botones-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio {
    margin-left: 20px;
  }
}
@media screen and (min-width: 600px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button {
  background-color: transparent;
  font-family: "Varela Round", sans-serif;
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-right: 40px;
  padding-left: 40px;
  border: 2px solid #EFEBE9;
  border-radius: 6px;
  color: #eee;
  margin-top: 20px;
  align-self: center;
  cursor: pointer;
}
.body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button:hover {
  border-color: #ca663b;
  color: #ca663b;
  font-weight: bold;
}
@media screen and (min-width: 400px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button {
    font-size: 16px;
  }
}
@media screen and (min-width: 500px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button {
    font-size: 18px;
  }
}
@media screen and (min-width: 600px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button {
    margin-top: 50px;
    margin-right: 20px;
  }
}
.body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button-contacto {
  background-color: transparent;
  font-family: "Varela Round", sans-serif;
  font-size: 17px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 55px;
  padding-left: 55px;
  border: 2px solid #EFEBE9;
  border-radius: 6px;
  color: #eee;
  margin-top: 20px;
  align-self: center;
  cursor: pointer;
}
.body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button-contacto:hover {
  border-color: #ca663b;
  color: #ca663b;
  font-weight: bold;
}
@media screen and (min-width: 400px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button-contacto {
    font-size: 15px;
  }
}
@media screen and (min-width: 500px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button-contacto {
    font-size: 17px;
  }
}
@media screen and (min-width: 600px) {
  .body-inicio .main-inicio .main__text-button-container .botones-inicio .main__button-contacto {
    margin-top: 50px;
    margin-right: 20px;
  }
}

.main-cart {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-cart #pedidoResumen {
  height: auto;
  width: 80%;
  max-width: 600px;
  background-color: #EFEBE9;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
@media screen and (min-width: 600px) {
  .main-cart #pedidoResumen {
    font-size: 20px;
  }
}
.main-cart .precios {
  display: flex;
  width: 80%;
  max-width: 1000px;
  padding: 20px;
  background-color: #EFEBE9;
  border-radius: 15px;
}
.main-cart .precios .productos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 992px) {
  .main-cart .precios .productos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
}
.main-cart .precios .productos-container .productos {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-cart .precios span {
  margin-top: 5px;
}
@media screen and (min-width: 992px) {
  .main-cart .precios span {
    margin-top: 15px;
  }
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding-top: 130px;
  background-color: #fff;
}
.main-container .ir-al-carrito {
  padding: 10px;
  border-radius: 10px;
  margin-top: 50px;
  border: 1px solid #ca663b;
  text-decoration: none;
  color: #ca663b;
}
.main-container .ir-al-carrito:hover {
  background-color: #ca663b;
  color: #fff;
  transition: 0.5s;
}
.main-container .crear-pedido-img {
  height: 450px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../assets/pexels-jason-villanueva-851555.jpg) no-repeat right center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .main-container .crear-pedido-img {
    max-width: 1200px;
  }
}
@media screen and (min-width: 700px) {
  .main-container .crear-pedido-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
.main-container .crear-pedido-img .img-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .main-container .crear-pedido-img .img-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}
.main-container .crear-pedido-img .img-items .h3 {
  color: #EFEBE9;
  font-size: 55px;
  padding-top: 150px;
  position: relative;
  bottom: 50px;
}
.main-container .crear-pedido-img .img-items p {
  color: #EFEBE9;
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  bottom: 70px;
}
@media screen and (min-width: 600px) {
  .main-container .crear-pedido-img .img-items p {
    margin-left: 30px;
  }
}
.main-container .crear-pedido-img .img-items .crear-pedido-button {
  background-color: transparent;
  font-family: "Varela Round", sans-serif;
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-right: 40px;
  padding-left: 40px;
  border: 2px solid #EFEBE9;
  border-radius: 6px;
  color: #eee;
  margin-top: 20px;
  align-self: center;
  cursor: pointer;
}
.main-container .crear-pedido-img .img-items .crear-pedido-button:hover {
  border-color: #ca663b;
  color: #ca663b;
  font-weight: bold;
}
.main-container .comoFunciona {
  height: auto;
  width: 90%;
  background-color: #EFEBE9;
  border-radius: 15px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 5px solid #fff;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .main-container .comoFunciona {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .main-container .comoFunciona {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    padding: 50px;
  }
}
.main-container .comoFunciona .paso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2b323a;
  padding: 10px;
  text-align: center;
}
.main-container .comoFunciona .paso h4 {
  font-size: 25px;
  margin-top: 10px;
}
.main-container .comoFunciona .paso p {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-container .comoFunciona .paso .numeroDePaso {
  font-size: 50px;
  color: #ca663b;
  font-weight: bold;
}
.main-container .pedido {
  max-width: 1200px;
  width: 100%;
}
.main-container .pedido .opciones-container {
  display: flex;
  margin-top: 40px;
}
.main-container .pedido .opciones-container .opcionTipoDeCafe {
  text-align: left;
}
.main-container .pedido .opciones-container .pasosEnOpciones {
  display: none;
}
@media screen and (min-width: 992px) {
  .main-container .pedido .opciones-container .pasosEnOpciones {
    display: inline-block;
    width: 50%;
    margin-left: 2%;
    margin-top: 80px;
    border-left: 1px solid #ca663b;
    height: 200px;
  }
}
.main-container .pedido .opciones-container .pasosEnOpciones .paso-opcion {
  padding-left: 15px;
}
.main-container .pedido .opciones-container .pasosEnOpciones .paso-opcion .numeroDePaso {
  font-size: 20px;
  color: #ca663b;
  font-weight: bold;
}
.main-container .pedido .opciones-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .main-container .pedido .opciones-container div {
    align-items: flex-start;
  }
}
.main-container .pedido .opciones-container div .opcion {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media screen and (min-width: 600px) {
  .main-container .pedido .opciones-container div .opcion {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .main-container .pedido .opciones-container div .opcion {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 0;
  }
}
.main-container .pedido .opciones-container div .opcion .eleccion {
  height: 270px;
  width: 250px;
  background-color: #EFEBE9;
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
}
.main-container .pedido .opciones-container div .opcion .eleccion h4 {
  padding-top: 30px;
  padding-left: 30px;
  font-size: 23px;
  font-weight: bolder;
  align-self: flex-start;
}
.main-container .pedido .opciones-container div .opcion .eleccion p {
  padding-left: 30px;
  margin-right: 25px;
  margin-top: 20px;
  opacity: 0.9;
}
.main-container .pedido .opciones-container div .opcion .activa {
  background-color: #ca663b;
  color: #fff;
}/*# sourceMappingURL=styles.css.map */